h2{
    display: flex;
    font-family: airbnb;
    font-size: 30px;
    margin-bottom: 25px;
    justify-content: center;
}
.profilDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.profileImg{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}